.one-row {
  display: flex;
}

code {
  font-family: Andale Mono;
  border: 1px solid lightgrey;
  background: lightgrey;
  color: steelblue;
  margin: 1px;
  padding: 1px;
  border-radius: 2px;
}

.instruction {
  width: 60%;
  margin-left: 1em;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.75;
}

button.level-nav {
  border: 2px none lightgray;
  border-radius: 2px;
}
button.level-nav.selected {
  border: 2px solid darkslateblue;
  color: darkslateblue;
  font-weight: bold;
}

.start-button {
  padding: 10px;
  margin: auto;
  display: block;
  font-size: large;
}